$heal-white: #ffffff;
$pinkish-grey: #cbbba0;
$very-light-pink: #dadada;
$grey-brown: #7a6958;
$purple-brown: #231f20;
$brown-grey: #b2b2b2;
$dark: #182331;
$charcoal-grey: #353e4a;
$grey-blue: #606f83;
$off-white: #f7f5f1;
$orange: #ec6608;
$kelly-green: #00a233;
$turquoise-blue: #0ca4d1;
$purple: #964091
