$xxl_title:120px;
$xl_title:60px;
$l_title:44px;
$xxl:31px;
$xl:30px;
$large:26px;
$medium-1:22px;
$medium-2:18px;
$small:16px;
$xs:14px;
$xxs:12px;

$spacing-xxs: 5px;
$spacing-xs: 10px;
$spacing-s: 15px;
$spacing-l: 25px;
$spacing-m: 20px;
$spacing-xl: 30px;
$spacing-xxl: 35px;
$spacing-xxl-2: 40px;
$spacing-xxl-3: 45px;
$spacing-xxl-4: 50px;
$spacing-xxl-5: 55px;
$spacing-xxl-6: 60px;
$spacing-xxl-7: 65px;
$spacing-xxl-8: 70px;
$spacing-xxl-9: 75px;
$spacing-xxl-10: 80px;
$spacing-xxl-11: 85px;
$spacing-xxl-12: 90px;
$spacing-xxl-13: 95px;
$spacing-xxl-14: 100px;
$spacing-xxl-15: 105px;
$spacing-xxl-16: 110px;
$spacing-xxl-17: 115px;
$spacing-xxl-18: 120px;
$spacing-xxl-19: 125px;
$spacing-xxl-20: 130px;

$Bitter:'Bitter',
serif;
$SegoeUI:'Segoe UI';
