#contact-page {
  .hero {
    padding: 70px 0 50px 0;
    height: auto;

    @media (max-width:768px) {
      padding: 60px 0 30px 0;
      text-align: center;
    }

    .section__title {
      @extend .ta__h1;
      line-height: 1.34;
      letter-spacing: normal;
    }
  }

  #head-office {
    .col-lg-12 {
      @media(max-width:576px) {
        padding: 0;
      }
    }

    .ta__flex {
      align-items: unset;
      flex-direction: row;

      @media (max-width:768px) {
        flex-direction: column;
      }

      &--one {
        width: 60%;
        margin-right: 140px;

        .enquiry {
          .address-details {
            min-height: auto;
          }
        }

        @media (max-width:1024px) {
          width: 50%;
          margin-right: 70px;
        }

        @media (max-width:768px) {
          width: 100%;
          margin-right: 0;
        }

        @media(max-width:576px) {
          padding: 0 15px;
        }
      }

      &--two {
        width: 40%;

        @media (max-width:1024px) {
          width: 50%;
        }

        @media (max-width:768px) {
          width: 100%;
        }
      }
    }

    .section__content {
      p {
        @extend .ta__para;
        color: $grey-blue;
      }
    }

    .office__content {
      margin-top: $spacing-xxl-4;

      @media (max-width:768px) {
        margin-top: $spacing-xxl-2;
        margin-bottom: $spacing-xxl;
      }

      .ta__card {
        &.custom-margin {
          margin-top: $spacing-xxl-7;

          @media (max-width:768px) {
            margin-top: $spacing-xxl-2;
          }
        }
      }

    }

    .contact__form {
      background-color: $off-white;
      width: 100%;
      height: 100%;
      padding: 50px 60px;

      form {
        @media (max-width:576px) {
          padding: 0 15px;
        }
      }

      @media (max-width:1024px) {
        padding: 25px 30px;
      }

      @media (max-width:576px) {
        padding: 50px 20px;
      }

      .ta__btn {
        width: 100%;
        justify-content: center;

        @media (max-width:768px) {
          width: 50%;
        }

        @media (max-width:576px) {
          width: 100%;
        }
      }

      .form-group {
        label[for="dropdown-country"] {
          z-index: 2;
          pointer-events: none;

          &:not(.active) {
            pointer-events: auto;
          }
        }

        &:not(.has-country-value) #dropdown-country .btn-secondary {
          color: transparent !important;
        }
      }

      #dropdown-country {
        max-width: 100%;
        border: none;
        border-bottom: 1px solid $pinkish-grey;
        border-radius: 0 !important;
        padding: 0;

        .dropdown-menu {
          li {
            width: 100%;
          }
        }

        .dropdown-toggle {
          position: absolute;
          top: 0;
          right: 0;
          // z-index: 9;
          display: block;
          height: 100%;
          width: 100%;
        }

        &.show {
          .dropdown-toggle {
            &:focus {
              box-shadow: none;
            }
          }
        }

        .btn-secondary {
          background-color: transparent;
          border: none;
          padding: 0;
          text-align: left;
          font-family: $SegoeUI !important;
          color: $grey-brown !important;
          text-transform: uppercase;
          width: 80%;
          flex: unset;

          &:hover {
            border: none !important;
          }

          &:focus {
            border: none !important;
            outline: none;
            box-shadow: none;
          }
        }

        .dropdown-toggle {
          &:after {
            color: $grey-brown !important;
          }
        }
      }
    }
  }

  #regions {
    padding-bottom: 100px;

    .section__title {
      @media(max-width:576px) {
        margin-bottom: 0;
      }
    }

    @media(max-width:576px) {
      padding-bottom: 0;
    }

    .ta__card {
      // margin: 10px;
      width: 100%;

      @media(max-width:576px) {
        margin: 0 auto 50px auto;
      }
    }

    .section__heading {
      text-align: center;

      @media(max-width:576px) {
        text-align: left;
      }
    }

    .section__content {
      margin-top: $spacing-xl;
      margin-bottom: 0;

      @media(max-width:576px) {
        margin-top: $spacing-m;
        margin-bottom: $spacing-xs;
      }
    }

    .ta__icon {
      margin-right: 0;
    }



    .contact-details {
      .address__line {
        .ta__text {
          margin-left: $spacing-xxs;
        }
      }
    }

    .ta__card--body{
      .address__line {
        @media(max-width:576px) {
          min-height: auto;
        }
      }
    }

    .row {
      justify-content: space-evenly;
      gap: $spacing-xl 0px;

      @media(max-width:576px) {
        gap: 0px;
      }
    }
  }


}

#dropdown-city ul {
  background: #fff !important;
  z-index: 9;
}
