#search-page {
    margin-top: 200px;
    @media (max-width: 768px) {
        margin-top: 140px;
    }
    .search_result_heading {
        .search_count {
            font-family: $Bitter;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.71;
            letter-spacing: normal;
            color: $charcoal-grey;
            margin-bottom: 10px;
        }
        .search_term {
            font-family: $Bitter;
            font-size: 44px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.32;
            letter-spacing: normal;
            color: $grey-brown;
            margin-bottom: 60px;
            @media (max-width: 768px) {
                font-size: 30px;
                margin-bottom: 50px;
            }
        }
    }
    .search_results_wrapper {
        // &:nth-child(1) {
        //     background-color: $off-white;
        //     .result_content {
        //         border-bottom: none;
        //         border-top: solid 1px $pinkish-grey;
        //         @media (max-width: 768px) {
        //             border-bottom: solid 1px $pinkish-grey;
        //         }
        //     }
        // }
        &:hover {
            background-color: $off-white;
        }
        .result_content {
            padding: 50px 0 50px 22px;
            border-top: solid 1px $pinkish-grey;
            @media (max-width: 768px) {
                padding: 40px 0 40px 0px;
            }
            .sr_type {
                font-family: $SegoeUI;
                font-size: 12px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.5;
                letter-spacing: 1px;
                color: $grey-blue;
                margin-bottom: 8px;
                a {
                    font-weight: normal;
                    color: $grey-blue;
                    margin-left: 5px;

                    svg {
                        margin-top: -3px;
                    }
                }
            }
            .sr_title {
                font-family: $Bitter;
                font-size: 22px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.73;
                letter-spacing: normal;
                color: $dark;
                margin-bottom: 7px;
                @media (max-width: 768px) {
                    font-size: 18px;
                    line-height: 1.6;
                }
            }
            .sr_subtitle {
                font-family: $SegoeUI;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: $charcoal-grey;
                @media (max-width: 768px) {
                    font-size: 14px;
                }
            }
        }
    }
    .pagination {
        // padding: 30px;
        .pagination_wrapper {
            border-top: solid 1px $pinkish-grey;
            padding-top: 25px;
            margin-bottom: 80px;
            @media (max-width: 768px) {
                margin-bottom: 60px;
            }

            .pagination {
                justify-content: flex-end;
                align-items: center;

                li:first-child {
                    button {
                        padding-left: 0;
                    }
                    span {
                        padding-left: 0;
                    }
                }
                li:last-child {
                    button {
                        padding-right: 0;
                    }
                    span {
                        padding-right: 0;
                    }
                }
                @media (max-width: 768px) {
                    justify-content: center;
                }
                li {
                    button {
                        border: none;
                        background-color: transparent;
                        font-family: $Bitter;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: 2px;
                        text-align: center;
                        color: $pinkish-grey;

                        &:focus {
                            box-shadow: none !important;
                        }
                    }
                }

                li.active {
                    button {
                        font-weight: bold;
                        letter-spacing: normal;
                        color: $grey-brown;
                        margin-top: -2px;
                    }
                }

                li.disabled {
                    span {
                        // padding: 0;
                        border: none;
                    }
                }
            }
        }
    }
    .section_no_result {
        margin-bottom: 100px;
        @media (max-width: 768px) {
            margin-bottom: 60px;
        }
        .no_result_title {
            @extend .ta__h1;
            color: $charcoal-grey;
            margin-bottom: 7px;
        }
        .no_result_subtitle {
            @extend .ta__h4;
            color: $grey-brown;
        }
    }
    .projects-section {
        .slick_wrapper {
            margin-bottom: 100px;
            @media (max-width: 768px) {
                margin-bottom: 50px;
                padding: 0 10px;
                .primary {
                    margin-bottom: 50px;
                }
            }
        }
        .news_type {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 30px;

            &--two {
                .ta__dropdown {
                    min-width: 220px;
                    max-width: 100%;
                    button {
                        color: #7a6958 !important;
                        font-weight: bold;
                        &::after {
                            color: #7a6958 !important;
                        }
                        &:active {
                            background-color: transparent !important;
                        }
                    }
                    ul {
                        li {
                            width: 100%;
                        }
                    }

                    @media (min-width: 525px) and (max-width: 768px) {
                        max-width: 50%;
                    }
                }

                @media (max-width: 768px) {
                    display: block;

                    .news_type_title {
                        margin-bottom: 30px;
                    }
                }
            }

            @media (max-width: 768px) {
                margin-bottom: 10px;
            }

            .news_type_title {
                font-family: $Bitter;
                font-size: 22px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.73;
                letter-spacing: normal;
                color: $charcoal-grey;

                @media (max-width: 768px) {
                    font-size: 20px;
                    line-height: 1.23;
                    margin-bottom: 20px;
                }
            }
        }
        .nt_view {
            padding-right: 40px;
            position: relative;

            @media (max-width: 768px) {
                padding-right: 25px;
            }

            a,
            button {
                font-family: $Bitter;
                font-size: 12px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 1px;
                text-align: right;
                color: $grey-brown;
                text-transform: uppercase;
                background-color: transparent;

                @media (max-width: 330px) {
                    font-size: 10px;
                }
            }

            &::after {
                content: "";
                position: absolute;
                top: 13px;
                right: 0;
                width: 30px;
                height: 2px;
                background-color: $grey-brown;

                @media (max-width: 768px) {
                    width: 20px;
                }
            }
        }
        .all_proj_mob_btn {
            display: none;
            @media (max-width: 768px) {
                display: block;
                max-width: 137px;
                margin: 0 auto 50px;
            }
        }
        .all_proj_desk_btn {
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
}

#search-popup {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    top: 0;
    z-index: 9;
    padding: 52px 15px;
    // display: none;
    @media (max-width: 768px) {
        padding: 35px 10px;
    }
    .search_items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .search_input {
            margin: 0 40px;
            width: 100%;
            @media (max-width: 768px) {
                margin: 0 20px;
            }
            input {
                text-transform: none;
                padding-bottom: 20px;
                font-family: $Bitter;
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.71;
                letter-spacing: normal;
                color: $grey-brown;
                @media (max-width: 768px) {
                    padding-bottom: 10px;
                }

                &:focus,
                &:active {
                    border-bottom: solid 1px $grey-brown;
                }
            }
            input::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                font-family: $Bitter;
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.71;
                letter-spacing: normal;
                color: $pinkish-grey !important;
                text-transform: none;
                opacity: 1; /* Firefox */
            }
        }
        .close_search {
            cursor: pointer;
        }
    }
    .search_suggestion_wrapper {
        padding: 40px 60px;
        @media (max-width: 768px) {
            padding: 35px 0px;
        }
        .suggestion_title {
            font-family: $SegoeUI;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.5;
            letter-spacing: 1px;
            color: $grey-blue;
            margin-bottom: 10px;
        }
        .search_suggest_item {
            font-family: $Bitter;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $charcoal-grey;
            margin-bottom: 10px;
        }
    }
}
