#sustainability {
    .section__title {
        @extend .ta__h1;
        // color: $pinkish-grey;
        @media (max-width: 768px) {
            font-size: 32px;
            text-align: center;
        }
    }
    .section__desc {
        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 1.5;
            text-align: center;
        }
    }
    #introduction {
        @media (max-width: 768px) {
            margin-top: 50px;
        }
        .section__content {
            p {
                margin-bottom: 30px;
                font-family: $SegoeUI;
                font-size: 16px;              
                font-weight: normal;              
                font-stretch: normal;              
                font-style: normal;              
                line-height: 1.5;              
                letter-spacing: normal;              
                color: $grey-blue;
                @media (max-width: 768px) {
                    font-size: 14px;
                }

                a{
                    font:inherit;
                    color:inherit;
                }
            }
        }
        .section__title {
            margin-bottom: 20px;
            @media (max-width: 768px) {
                font-size: 30px;
                text-align: left;
            }
        }
    }
    .section_quote {
        padding: 134px 0;
        background-image: url("~assets/images/sustainability-desktop-jamshetji-tata.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 100px;
        @media (max-width: 768px) {
            background-image: none;
            padding: 0;
            margin-bottom: 60px;
        }
        .quote_icon {
            margin-bottom: 30px;
        }
        .quote_content {
            font-family: $Bitter;
            font-size: 32px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.34;
            letter-spacing: 1px;
            color: $heal-white;
            margin-bottom: 15px;
        }
        .quote_by {
            font-family: $Bitter;
            font-size: 12px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 1px;
            color: $pinkish-grey;
            text-transform: uppercase;
        }
        .quote_desktop_container {
            @media (max-width: 768px) {
                display: none;
            }
        }
        .quote_mobile_container {
            display: none;
            img {
                width: 100%;
            }
            @media (max-width: 768px) {
                display: block;
            }
        }
    }
    #csr-activities {
        .full__slider {
            margin-top: 25px;
            @media (max-width: 768px) {
                margin-top: 10px;
            }
            .slick-slide {
                padding-bottom: 20px;
                @media (max-width: 768px) {
                    height: auto;
                }
            }
            .slick-dots {
                @media (max-width: 768px) {
                    bottom: initial !important;
                    top: 220px;
                }
            }
        }
        @media (max-width: 768px) {
            .transhead {
                text-align: left;
            }
            .section__title {
                text-align: left;
                font-size: 26px;
            }
            .section__content {
                text-align: left;
            }
            .section__subtitle {
                text-align: left;
                margin-bottom: 10px;
            }
        }
        .section__content {
            margin-bottom: 0;
            .ta__para {
                margin-bottom: 15px;
            }
        }
        .section__btn {
            margin-top: 30px;
            @media (max-width: 768px) {
                margin-top: 65px;
            }
        }
        .slick-current {
            .csr_activities_slider_content_wrapper {
                visibility: visible;
            }
        }
        .slick-arrow {
            top: 35%;
        }
        .csr_activities_slider_content_wrapper {
            text-align: center;
            visibility: hidden;
            .csr_as_title {
                font-family: $SegoeUI;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.5;
                letter-spacing: 1px;
                text-align: center;
                color: $grey-brown;
                margin-bottom: 7px;
                margin-top: 30px;
                text-transform: uppercase;
                @media (max-width: 768px) {
                    margin-top: 45px;
                }
            }
            .csr_as_content {
                font-family: $Bitter;
                font-size: 22px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.73;
                letter-spacing: normal;
                text-align: center;
                color: $charcoal-grey;
                margin-bottom: 30px;
                @media (max-width: 768px) {
                    font-size: 18px;
                }
            }
        }
    }
    #project-features {
        .primary {
            padding: 0 10px;
            @media (max-width: 768px) {
                margin-bottom: 50px;    
                max-width: 100%;    
            }
        }
        .ta__card--text {
            font-size: 22px;
            font-weight: bold;
            @media (max-width: 768px) {
                font-size: 18px;
            }
        }
        @media (max-width: 768px) {
            .transhead {
                display: none;
            }
            .section__content {
                text-align: left;
            }
            .section__heading {
                text-align: left;
                .section__title {
                    font-size: 26px;
                    text-align: left;
                }
                .opaqhead {
                    margin-top: 0;
                }
            }
        }
        @media (max-width: 1200px) {
            .transhead {
                font-size: 70px;
                margin-bottom: 15px;
            }
        }
    }
    #news {
        @media (max-width: 768px) {
            padding-top: 20px;
        }
    }
}
